<template name="copiarLancamentosModal">
	<div class="modal fade" id="copiarLancamentosModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">Copiar Lançamentos</h4>
				</div>

				<form name="copiarLancamentosForm" class="form-horizontal" role="form" action="/" method="post">
					<div class="modal-body">
						<div class="form-group">
							<label for="copiarde" class="col-sm-4 control-label">Copiar de </label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="copiarde" name="copiarde" placeholder="Data para copiar" value="{{copiarde}}">
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" id="btnCopiarLancamentos">Copiar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</template>
