<template name="lancamentoDetalheModal">
	<div class="modal fade" id="lancamentoDetalheModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">Lançamento</h4>
				</div>

				{{#with dadosLancamento}}

				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4">Responsável</div>
						<div class="col-sm-8">{{responsavel.nome}}</div>
					</div>

					<div class="row">
						<div class="col-sm-4">Descricao</div>
						<div class="col-sm-8">{{descricao}}</div>
					</div>

					<div class="row">
						<div class="col-sm-4">Vencimento</div>
						<div class="col-sm-8">{{vencimento}}</div>
					</div>

					<div class="row">
						<div class="col-sm-4">Valor</div>
						<div class="col-sm-8">{{valor}}</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btnAlterarLancamento">
						<span class="glyphicon glyphicon-pencil"></span>
						Alterar
					</button>
					{{#if despesa}}
						{{#if naoPago}}
						<button type="button" class="btn btn-success" id="btnPagar">
							<span class="glyphicon glyphicon-ok"></span>
							Pagar
						</button>
						{{else}}
						<button type="button" class="btn btn-warning" id="btnDesfazerPagamento">
							<span class="glyphicon glyphicon-repeat"></span>
							Desfazer pagamento
						</button>
						{{/if}}
						<button type="button" class="btn btn-danger" id="btnExcluir">
							<span class="glyphicon glyphicon-trash"></span>
							Excluir
						</button>
					{{/if}}
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove"></span>
						Fechar
					</button>
				</div>

				{{/with}}

			</div>
		</div>
	</div>
</template>
