<template name="lancamentoFormModal">
	<div class="modal fade" id="lancamentoFormModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">Lançamento</h4>
				</div>

				{{#with dadosLancamento}}

				<form name="lancamentoForm" class="form-horizontal" role="form" action="/" method="post">
					<div class="modal-body">
						<div class="form-group">
							<label for="responsavel" class="col-sm-4 control-label">Responsável</label>
							<div class="col-sm-8">
								<select class="form-control" name="responsavel">
									{{#each responsaveis}}
									<option value="{{_id}}" {{responsavelSelected _id ../responsavel._id}}>{{nome}}</option>
									{{/each}}
								</select>
								<span id="responsavel-error"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="descricao" class="col-sm-4 control-label">Descricao</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="descricao" placeholder="Descricao do lançamento" value="{{descricao}}">
								<span id="descricao-error"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="vencimento" class="col-sm-4 control-label">Vencimento</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="vencimento" placeholder="Vencimento" value="{{vencimento}}">
								<span id="vencimento-error"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="valor" class="col-sm-4 control-label">Valor</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="valor" placeholder="Valor" value="{{valor}}">
								<span id="valor-error"></span>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" id="btnSalvarLancamento">
							<span class="glyphicon glyphicon-save"></span>
							Salvar
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span>
							Cancelar
						</button>
					</div>
				</form>

				{{/with}}

			</div>
		</div>
	</div>
</template>
