.lancamento .descricao {
	width: 60%;
}
.lancamento .vencimento {
	width: 20%;
}
.lancamento .valor {
	width: 20%;
	text-align: right;
}

.table-striped > tbody > tr.bg-danger:nth-child(odd) > td,
.table-striped > tbody > tr.bg-danger:nth-child(odd) > th {
	background-color: #F4D1D1;
}

.table-hover > tbody > tr.bg-danger:hover > td,
.table-hover > tbody > tr.bg-danger:hover > th {
	background-color: #e4b9b9;
}

.table-striped > tbody > tr.bg-warning:nth-child(odd) > td,
.table-striped > tbody > tr.bg-warning:nth-child(odd) > th {
	background-color: #F2EDD0;
}

.table-hover > tbody > tr.bg-warning:hover > td,
.table-hover > tbody > tr.bg-warning:hover > th {
	background-color: #f7ecb5;
}

.titulo-lancamentos {
	margin-top: 1em;
}

.titulo-lancamentos h2 {
	float: left;
	margin: 0;
	margin-right: 1em;
}
