<template name="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					Finança simples
				</a>
			</div>
			<div class="collapse navbar-collapse" id="main-navbar">

				{{#if currentUser}}
				<ul class="nav navbar-nav">
					<li class="{{rotaAtual 'index'}}"><a href="{{ pathFor 'index' }}"><i class="fa fa-calendar"></i> Lançamentos</a></li>
					<li class="{{rotaAtual 'graficos'}}"><a href="{{ pathFor 'graficos' }}"><i class="fa fa-pie-chart"></i> Gráficos</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-cog"></span>
							Sistema
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu" role="menu">
							<li><a href="#" id="copiarLancamentos">Copiar lançamentos</a></li>
						</ul>
					</li>
				</ul>
				{{/if}}
				<ul class="nav navbar-nav navbar-right">
					{{> loginButtons }}
				</ul>
			</div>
		</div>
	</nav>
</template>
