<template name="home">
	<div class="row text-center">
		<div class="btn-group btn-group-lg">
			<button class="btn btn-default" type="submit" id="btnMesAnterior"><strong>&laquo;</strong></button>
			<button class="btn btn-default" type="submit" id="btnDataCorrente"><strong>{{dataCorrente}}</strong></button>
			<button class="btn btn-default" type="submit" id="btnProximoMes"><strong>&raquo;</strong></button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="titulo-lancamentos clearfix">
				<h2>Despesas</h2>
				<button class="btn btn-success" id="btnIncluirDespesa">
					<span class="glyphicon glyphicon-plus"></span>
					Incluir
				</button>
			</div>

			{{#each responsaveis}}
			<h3>{{nome}}</h3>

			<table class="table table-condensed table-hover table-striped">
				<tbody>
					{{#each despesas _id 'aberto'}} {{> lancamento}} {{/each}}
				</tbody>
				<tfoot>
					<tr class="lancamento bg-info">
						<td colspan="2">Total</td>
						<td class="valor">{{despesaTotalResponsavel _id}}</td>
					</tr>
				</tfoot>
			</table>
			{{/each}}

			<table class="table table-condensed table-hover table-striped">
				<tfoot>
					<tr class="lancamento bg-warning">
						<td colspan="2">Total em aberto</td>
						<td class="valor">{{despesaTotalNaoPagas}}</td>
					</tr>
				</tfoot>
			</table>

			<h3>Pagas</h3>

			<table class="table table-condensed table-hover table-striped">
				<tbody>
					{{#each despesasPagas _id 'pago'}} {{> lancamento}} {{/each}}
				</tbody>
				<tfoot>
					<tr class="lancamento bg-info">
						<td colspan="2">Total</td>
						<td class="valor">{{despesaTotalPagas}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-sm-6">
			<div class="titulo-lancamentos cleafix">
				<h2>Receitas</h2>
			</div>

			<table class="table table-condensed table-hover table-striped">
				<tbody>
					{{#each receitas}} {{> lancamento}} {{/each}}
				</tbody>
				<tfoot>
					<tr class="lancamento bg-info">
						<td colspan="2">Total</td>
						<td class="valor">{{receitasTotal}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</template>
