<template name="lancamento">
	<tr class="lancamento {{alertaVencimento}}">
		<td class="descricao">{{descricao}}</td>
		<td class="vencimento">{{vencimento}}</td>
		<td class="valor">{{valor}}</td>
	</tr>
</template>
